.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--element-color);
    padding:1rem;
    img{
        height: 70rem;
    }
    .Skills {
        display: flex;
        flex-direction: column;
    
        .bar {
            width: 1rem;
            height: 1rem;
            border: 1px solid var(--secondary-color);
            padding-right: auto;
            background-color: var(--secondary-color);
            opacity: 0.3;
            transition: width 2s ease;
        }
        .barContainer{
            width: 100%;
            background-color: azure;
            border-color: blue;
        }
        .filled {
            animation: fill 1s forwards;
            background-color: var(--accent-color);
            opacity: 1;
        }
        
        h2 {
            font-size: 3rem;
        }
        
        p {
            font-family: "Jakarta", sans-serif;
            margin:0;
        }
    
        @keyframes fill {
            from {
                width: 0;
            }
            to {
                width: var(--fill-percent);
            }
        }
    
    }
}

