.projectslink {
	padding-top: var(--header-size);
	margin-bottom: var(--header-size);
	margin-inline: auto;

	.projectsViewer {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;

		margin: auto;
		margin-top: 1rem;
		justify-content: center;
		align-items: center;
		color: var(--secondary-color);

		img {
			width: auto;
		}

		.projectItem {
			width:0%;
			display: none;
			opacity: 0;

			&.current {
				width:100%;
				display: block;
				opacity: 1;
				animation-name: fadeIn;
				animation-duration: 500ms;
			}
		}

		button {
			border: none;
			cursor: pointer;

			height: 45rem;
			width: 10rem;
			background-color: transparent;
			img {
				width: 3rem;
			}
		}

	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 1300px) {
	.projectsViewer {
		flex-direction: column;
		gap: 2rem;
		img {
			width: 90%;
		}
		.projectItem {
			width: 100%;
			display: block;
			opacity: 1;
		}
		button {
			height: 10rem;
			width: 100%;
			img {
				width: 2rem;
			}
		}
	}
	
}