
header{
    box-sizing: border-box;
    position:fixed;
    z-index: 2;
    top: 0;
    width:100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-family: "Plus Jakarta Sans";
    background-color: var(--primary-color);
    color: var(--accent-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 100);
    max-height: var(--header-size);

    div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    img{
        width:6rem;
        border-radius: 50%;
        margin-right: auto;
    }
    p {
        font-size: 5rem;
    }
    ul {
        display: flex;
        margin: auto;
        align-items: center;
        margin-right: 0;

        li {
            padding-inline: 1rem;
            list-style-type: none;
            img{
                width: 2rem;

            }
            a {
                text-decoration: none;
                color: var(--text-color);
            }
            a.activeLink {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}


@media screen and (max-width: 1300px) {
    header{
        height:5rem;
        align-items: baseline;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            height: auto;
        
        }
        img{
            width:3rem;
            height:3rem;
        }
        ul {
            flex-wrap: wrap;
            font-size: small;

            li{
                padding-inline: 0.5rem;
                img{
                    width: 1.5rem;
                }
            }
        }
        
    }
    .downed{
        display: none;
    }
    
}


